aside {
    padding-block: 2.125rem;
    max-width: 30.125rem;
    min-width: 30.125rem;
    

    header {
        margin-bottom: 2.5rem;

        span {
            font: var(--label-md);
            color: var(--content-primary);
        }

        p {
            font: var(--ph-lg);
            color: var(--content-secondary);
            text-align: justify;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    div {
        display: flex;
        gap: 1rem;


        fieldset {
            border: none;

            legend {
                text-align: center;
                font: var(--label-sm);
                color: var(--content-secondary);
                margin-bottom: .5rem;
            }
        }
    }

}

.gradient-wrap {
    --bw: 0px;
    position: relative;

    display: inline-block;
    border-radius: .5rem;

    width: 5.375rem;
    height: 3.5rem;

    &::before {
        content: "";
        position: absolute;

        inset: 0;
        background: linear-gradient(
            to right,
            #77C0AF 0%,
            #D1DC97 14.84%,
            #E9A9B3 32.15%,
            #D586E0 65.79%,
            #91A1FA 84.58%
        );
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;

        border-radius: inherit;
    }

    &:hover {
        --bw: 1px;
    }

    &:focus-within {
        --bw: 2px;
    }

    &:hover::before, .gradient-wrap:focus-within::before {
        opacity: 1;
    }

    & input {
        position: absolute;
        inset: var(--bw);
        border-radius: calc(.5rem - var(--bw));
        background-color: var(--bg-secondary);
        border: none;
        outline: none;
        width: calc(100% - var(--bw) * 2);
        height: calc(100% - var(--bw) * 2);
        color: #FFFFFF;
        font: var(--display-sm);
        padding: .25rem .5rem;
    }

}

/* botão toggle - repetir números */

.switch {
  margin-bottom: 2.5rem;

  display: flex;
  align-items: center;
  gap: .5rem;

  input {
    display: none;
  }

  .slider {
    width: 1.875rem;
    height: 1.25rem;

    background: linear-gradient(to right,
     #D586E0 0%,
     #91A1FA 98.93%
    );
    border-radius: 1.5rem;

    position: relative;
  
    cursor: pointer;
    transition: background 0.3s;
  }

  .slider::before {
    content: "";
    position: absolute;

    width: .875rem;
    height: .875rem;
    border-radius: 50%;

    background-color: white;

    top: 3px;
    right: 3px;
    transition: transform 0.3s;
  }

  span {
      font: 400 .75rem/1.5 "Inter", sans-serif;
      color: var(--content-primary);
      text-align: center;
  }
}

.switch input:checked + .slider {
    background: #ccc;
}

.switch input:checked + .slider::before {
    transform: translateX(-.625rem);
}

/* botão de sortear */

button.btn-draw {
  width: 100%;
  padding: 1rem;
    
  border: none;
  outline: none;
  border-radius: .5rem;
    
  background-color: var(--bg-tertiary);
  font: var(--label-md);
  color: #FFFFFF;
    
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.125rem;

  cursor: pointer;

  position: relative;

  span {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }
}

button.btn-draw:hover::before {
  opacity: 1;  
}

.btn-draw::before {
  content: "";
  background: linear-gradient(
    to right,
    #77C0AF 0%,
    #D1DC97 14.84%,
    #E9A9B3 32.15%,
    #D586E0 65.79%,
    #91A1FA 84.58%
  );
  background-size: 200% 100%;

  position: absolute;

  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: inherit;

  z-index: -1;
  opacity: 0;

  animation: glowing 5s linear infinite;
  transition: opacity .3s ease-in-out;
}

.toggle-text {
  /* position: relative; */
  display: flex;
  align-items: center;

  label {
    /* position: absolute; */
    display: flex;
    gap: .5rem;
  }
}

.draw {
  display: flex;
}

button.btn-draw:hover {
  img[src*="redo"] {
    transform: rotate(360deg);
    transition: transform 2s;
  }

  img[src*="arrow"] {
    animation: slide 2s ease-in-out;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(.625rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.raffle-maker {
  /* display: none; */
}

/* Resultado do sorteio */

#result {
  display: none;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
  }
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-block: 2.5rem;
}

.redo {
  display: flex;
}

.number {
  background-color: var(--content-brand);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: var(--number);
  padding: .75rem;
  border-radius: 1.75rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  opacity: 0;
  transform-origin: center center;
  animation: scaleUp 0.6s ease forwards, rotateFull 2.4s linear 0.6s forwards;
  /* will-change: transform, background-color, opacity; */
}

.draw-number {
  color: transparent;
  display: inline-block;
  transform-origin: center center;
  animation: counterRotate 2.4s linear 0.6s forwards;
  will-change: transform, color, opacity;
  opacity: 0;
  transition: color 0.3s ease, opacity 0.3s ease;
}

/* Escala do container */
@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Rotação do container */
@keyframes rotateFull {
  0% {
    transform: rotate(0deg);
    background-color: var(--content-brand);
  }
  90% {
    transform: rotate(324deg);
    background-color: var(--content-brand);
  }
  100% {
    transform: rotate(360deg);
    background-color: transparent;
  }
}

/* Rotação inversa do número para ficar reto */
@keyframes counterRotate {
  0% {
    opacity: 0;
    color: transparent;
    transform: rotate(0deg);
  }
  30% {
    opacity: 1;
    color: var(--color-inverse);
    transform: rotate(-108deg); /* -30% de 360° */
  }
  90% {
    opacity: 1;
    color: var(--color-inverse);
    transform: rotate(-324deg); /* -90% de 360° */
  }
  100% {
    opacity: 1;
    /* font-size: 3rem; */
    color: var(--content-brand);
    transform: rotate(-360deg);
  }
} 

@media (width <= 80em) {
  aside {
    max-width: 100%;
  }

  form {
    justify-self: center;
  }

  .switch {
    justify-content: center;
  }

  #result {
    margin-bottom: 4.937rem;
  }
}